<h1>This is a page!</h1>
<hr>
{{content}}

.background_photo { 
    background: url(../img/seattle_img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  <form action="https://formspree.io/ec856@cornell.edu" method="POST" id = "contactform">
    <input type="text" 
    name="name"
    placeholder = "Your Name">
    <textarea placeholder="Your message"></textarea>
    <input type="email" name="_replyto" placeholder = "Your Email">
    <input type="submit" value="Send">
  </form>
